@model IEnumerable<Forms.Models.Task>
@{
    ViewBag.Title = "Tasks";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New Task", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
    </tr>


    @foreach (var t in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => t.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.IsDone)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {id = t.Id }) |
                @Html.ActionLink("Details", "Details", new { id = t.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = t.Id })
            </td>
        </tr>
    }
    </table>

